$p: 0 285px;

@font-face {
				font-family: 'Trueno Bd';
				src: url('../fonts/truenobd.woff') format('woff'),
				     url('../fonts/truenobd.woff2') format('woff2');
}

@font-face {
				font-family: 'Trueno Lt';
				src: url('../fonts/truenolt.woff') format('woff'),
				     url('../fonts/truenolt.woff2') format('woff2');
}

@font-face {
				font-family: 'Trueno UltBlk';
				src: url('../fonts/truenoultblk.woff') format('woff'),
				     url('../fonts/truenoultblk.woff2') format('woff2');
}

* {
				margin: 0;
				padding: 0;
}

*, *::after, *::before {
				box-sizing: border-box;
}

body {
				min-width: 1680px;
				font-family: 'Trueno Bd';
				font-size: 16px;
				line-height: 26px;
				color: #fff;
}

section {
				padding: $p;
}

img {
				max-width: 100%;
				height: auto;
}

ul {
				list-style: none;
}

a {
				text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
				&__top,
				&__bottom {
								padding: $p;
								display: flex;
								justify-content: space-between;
								font-family: 'Trueno Lt';
				}

				&__top {
								background-color: #472424;
								font-size: 13px;
				}

				&__bottom {
								background-color: #613232;
				}

				&__list {
								display: flex;
				}

				&__item {
								padding: 14px 20px;
								&--support {
												padding-left: 0;
								}
				}

				&__link {
								color: #fff;
				}

				&__logo {
								display: flex;
				}
}

.user {
				&-list {
								display: flex;
				}

				&__item {
								padding: 14px 20px;
								&--cart {
												border-right: 1px solid #593a3a;
												.user__link {
																display: flex;
												}
								}

								&--register {
												background-color: #ff7373;
								}
				}

				&__link {
								color: #fff;
				}
}

.main-nav {
				&__list {
								display: flex;
								width: 600px;
								justify-content: space-between;
				}

				&__item {
								padding: 27px 0;
								padding-bottom: 23px;
								&--active {
												border-bottom: 4px solid #ff7373;
												.main-nav__link {
																color: #ff7373;
												}
								}
				}

				&__link {
								color: #fff;
				}
}

.product {
				position: relative;
				padding: 130px 285px 137px 855px;
				background-color: #f0efee;
				&__img {
								position: absolute;
								top: -91px;
								left: -148px;
				}

				&__price,
				&__name {
								line-height: normal;
								font-weight: normal;
								color: #623232;
				}

				&__price {
								font-family: 'Trueno Lt';
								font-size: 30px;			
				}

				&__name {
								font-family: 'Trueno UltBlk';
								font-size: 70px;
				}

				&__variants {
								font-family: 'Trueno UltBlk';
								font-size: 50px;
								line-height: normal;
								color: #ff7373;
				}

				&__text {
								font-family: 'Trueno Lt';
								color: #8a8784;
								width: 400px;
				}

				&__link {
								display: block;
								width: 255px;
								font-family: 'Trueno Bd';
								text-align: center;
								text-transform: uppercase;
								color: #fff;
								background-color: #ff7373;
								margin-top: 32px;
								padding: 13px 0;
				}
}
