$p: 0 285px;

@font-face {
				font-family: 'Trueno Bd';
				font-display: swap;
				src: url('../fonts/truenobd.woff') format('woff'),
				     url('../fonts/truenobd.woff2') format('woff2');
}

@font-face {
				font-family: 'Trueno Lt';
				font-display: swap;
				src: url('../fonts/truenolt.woff') format('woff'),
				     url('../fonts/truenolt.woff2') format('woff2');
}

@font-face {
				font-family: 'Trueno UltBlk';
				font-display: swap;
				src: url('../fonts/truenoultblk.woff') format('woff'),
				     url('../fonts/truenoultblk.woff2') format('woff2');
}

* {
				margin: 0;
				padding: 0;
}

*, *::after, *::before {
				box-sizing: border-box;
}

body {
				min-width: 1680px;
				font-family: 'Trueno Bd', sans-serif;
				font-size: 16px;
				line-height: 26px;
				color: #fff;
}

section,
article{
				padding: $p;
}

img {
				max-width: 100%;
				height: auto;
}

ul {
				list-style: none;
}

a {
				text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
				&__top,
				&__bottom {
								padding: $p;
								display: flex;
								justify-content: space-between;
								font-family: 'Trueno Lt';
				}

				&__top {
								background-color: #472424;
								font-size: 13px;
				}

				&__bottom {
								background-color: #613232;
				}

				&__list {
								display: flex;
				}

				&__item {
								padding: 14px 20px;
								&--support {
												padding-left: 0;
								}
				}

				&__link {
								color: #fff;
				}

				&__logo {
								display: flex;
				}
}

.user {
				&-list {
								display: flex;
				}

				&__item {
								padding: 14px 20px;
								&--cart {
												border-right: 1px solid #593a3a;
												.user__link {
																display: flex;
												}
								}

								&--register {
												background-color: #ff7373;
								}
				}

				&__link {
								font-family: 'Trueno Lt';
								font-size: 13px;
								color: #fff;
				}

				&__price {
								position: relative;
								&::before {
												content: '';
												position: absolute;
												top: -3px;
												left: -30px;
												width: 20px;
												height: 20px;
												background-image: url('../img/cart.svg');
								}
				}


				&__count {
								color: #dcc5b8;
				}
}

.main-nav {
				&__list {
								display: flex;
								width: 600px;
								justify-content: space-between;
				}

				&__item {
								padding: 27px 0;
								padding-bottom: 23px;
								&--active {
												border-bottom: 4px solid #ff7373;
												.main-nav__link {
																color: #ff7373;
												}
								}
				}

				&__link {
								color: #fff;
				}
}

.product {
				position: relative;
				padding: 130px 285px 137px 855px;
				background-color: #f0efee;
				&__img {
								position: absolute;
								top: -91px;
								left: -148px;
				}

				&__price,
				&__name {
								line-height: normal;
								font-weight: normal;
								color: #623232;
				}

				&__price {
								font-family: 'Trueno Lt';
								font-size: 30px;			
				}

				&__name {
								font-family: 'Trueno UltBlk';
								font-size: 70px;
				}

				&__variants {
								font-family: 'Trueno UltBlk';
								font-size: 50px;
								line-height: normal;
								color: #ff7373;
				}

				&__text {
								font-family: 'Trueno Lt';
								color: #8a8784;
								width: 400px;
				}

				&__link {
								display: block;
								width: 255px;
								text-align: center;
								text-transform: uppercase;
								color: #fff;
								background-color: #ff7373;
								margin-top: 32px;
								padding: 13px 0;
				}
}

.example {
				padding-top: 50px;
				&__sneakers {
								display: grid;
								grid-template-rows: 255px 255px;
								grid-template-columns: 255px 255px 255px 255px;
								grid-template-areas: 
												'one one two two'
												'one one three four';
								grid-gap: 30px;
				}

				&__sneaker {
								display: grid;
								grid-template: 1fr / 1fr;
								&--one {
												grid-area: one;
												background-color: #000;
												justify-items: center;
												.example__img {
																margin-left: -26px;
												}

												.example__text {
																margin-top: 37px;
																position: relative;
																&-in {
																				color: #4bd8cd;
																}

																&::before {
																				content: '';
																				position: absolute;
																				top: -11px;
																				left: -119px;
																				width: 80px;
																				height: 96px;
																				background-image: url('../img/symbol.svg');
																}
												}

												.example__link {
																color: #000;
																width: 211px;
																margin-bottom: 50px;
																background-color: #4bd8cd;
												}
								}

								&--two {
												grid-area: two;
												background-color: #ff7373;
												justify-items: end;
												position: relative;
												.example__img {
																position: absolute;
																top: -22px;
																left: -12px;
												}

												.example__text {
																margin-top: 52px;
																margin-right: 69px;
												}

												.example__link {
																width: 145px;
																margin-bottom: 59px;
																margin-right: 123px;
																background-color: #623232;
												}
								}

								&--three {
												grid-area: three;
												background-color: #2d2f2e;

												.example__text {
																align-self: end;
																margin-bottom: 41px;
																&-in {
																				color: #ff7373;
																}
												}
								}

								&--four {
												grid-area: four;
												align-items: end;
												justify-items: center;
												background-color: #cecece;
												.example__text {
																color: #6b7072;
																width: 190px;
																margin-top: 27px;
																align-self: start;
																&-in {
																				color: #fff;
																}
												}
								}
				}

				&__img {
								grid-area: 1 / 1 / -1 / -1;
				}

				&__text {
								font-family: 'Trueno Lt';
								font-size: 30px;
								line-height: normal;
								text-align: center;
								grid-area: 1 / 1 / -1 / -1;
								width: 255px;
								&-in {
												font-family: 'Trueno Bd';
												text-transform: uppercase;
								}
				}

				&__link {
								padding: 13px 0;
								text-align: center;
								text-transform: uppercase;
								grid-area: 1 / 1 / -1 / -1;
								align-self: end;
				}
}

.shop {
				&__top {
								&--active .shop__link{
												font-family: 'Trueno Bd';
												color: #623232;
								}

								&s {
												display: flex;
												justify-content: space-between;
												width: 452px;
												margin: 11px auto;
												margin-top: 91px;
								}
				}

				&__link {
								font-family: 'Trueno Lt';
								font-size: 30px;
								line-height: normal;
								text-transform: uppercase;
								color: #bdb9b5;
				}

				&__list {
								display: flex;
								justify-content: space-between;
								flex-wrap: wrap;
				}

				&__item {
								display: flex;
								justify-content: space-between;
								flex-wrap: wrap;
								width: 255px;
								border: 1px solid #e0dfde;
								margin-top: 30px;
								padding: 27px 26px;
								padding-bottom: 30px;
								&--diskount {
												.shop__price {
																color: #ff7373;
												}

												.shop__img {
																margin-top: -55px;
												}
								}
				}

				&__price {
								font-family: 'Trueno Lt';
								color: #8a8784;
								font-size: 24px;
								font-weight: 400;
								width: 82px;
								align-self: center;
				}

				&__old {
								color: #8a8784;
								font-size: 16px;
								text-decoration: line-through;
				}

				&__discount {
								margin-top: -4px;
								margin-right: -27px;
								padding: 3px 10px;
								background-color: #ff7373;
								align-self: start;
				}

				&__img {
								height: 200px;
								z-index: -1;
								margin-top: -32px;
				}

				&__male,
				&__name{
								color: #8a8784;
								font-weight: 400;
								font-size: 16px;
				}

				&__name,
				&__id {
								font-family: 'Trueno Lt';
				}

				&__male {
								text-transform: uppercase;
								width: 100%;
				}

				&__name {
								text-transform: capitalize;
								width: 190px;
				}

				&__id {
								font-size: 13px;
								color: #bdb9b5;
				}
}

.sponsor {
				margin: 101px 0;
				&__list {
								display: flex;
								align-items: center;
								justify-content: space-between;
				}
}

.review {
				padding: 101px 285px;
				background: #472424 url('../img/bg.png') no-repeat;
				&__list {
								display: flex;
								justify-content: space-between;
								width: 515px;
								margin: 0 auto;
				}

				&__item {
								display: flex;
								flex-wrap: wrap;
								justify-content: center;
								opacity: 0.5;
								&--active {
												opacity: 1;
								}
				}

				&__name {
								text-transform: capitalize;
				}

				&__rating {
								display: flex;
								justify-content: space-between;
								width: 117px;
				}

				&__link {
								width: 21px;
								height: 20px;
								font-size: 0;
								position: relative;
								display: block;
								&::before {
												content: '';
												position: absolute;
												width: 21px;
												height: 20px;
												background-image: url('../img/empty-star.svg');
								}

								&--active::before {
												background-image: url('../img/star.svg');
								}
				}

				&__text {
								font-family: 'Trueno Lt';
								text-align: center;
								margin-top: 50px;
								padding: 42px 52px;
								background-color: rgba(255, 255, 255, 0.1);
								position: relative;
								&::before {
												content: '';
												position: absolute;
												top: 0;
												left: 50%;
												width: 30px;
												height: 30px;
												background-color: #593c3c;
												transform: translate(-50%, -50%) rotate(45deg);
								}
				}
}

.news {
				&__title {
								font-size: 30px;
								line-height: normal;
								text-align: center;
								text-transform: uppercase;
								color: #623232;
								margin-top: 98px;
								margin-bottom: 41px;
				}

				&__list {
								display: flex;
								justify-content: space-between;
				}

				&__item {
								width: 350px;
								display: flex;
								flex-wrap: wrap;
								align-items: end;
								border: 1px solid #e0dfde;
								background-color: #472424;
								background-image: linear-gradient(45deg, #472424 0%, rgba(71, 36, 36, 0) 100%);
				}

				&__img {
								margin-bottom: -129px;
				}

				&__time {
								text-transform: uppercase;
								margin-left: 30px;
				}

				&__text,
				&__comments {
								font-family: 'Trueno Lt';
								margin-left: 30px;
				}

				&__text {
								width: 215px;
				}

				&__comments {
								color: #ff7373;
								margin-bottom: 25px;
								padding-left: 28px;
								position: relative;
								&::before {
												content: '';
												position: absolute;
												top: 4px;
												left: 0;
												width: 20px;
												height: 20px;
												background-image: url('../img/sms.svg');
								}
				}
}

.help {
				margin-top: 100px;
				padding: 68px 285px;
				padding-left: 375px;
				background-color: #ff7373;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				&__title {
								font-size: 30px;
								line-height: normal;
								text-transform: uppercase;
								position: relative;
								&::before {
												content: '';
												position: absolute;
												top: 13px;
												left: -88px;
												width: 60px;
												height: 42px;
												background-image: url('../img/letter.svg');
								}
				}

				&__text {
								font-family: 'Trueno Lt';
								order: 1;
								width: 50%;
				}

				&__link {
								text-align: center;
								text-transform: uppercase;
								color: #fff;
								background-color: #623232;
								margin-top: 14px;
								padding: 12px 30px;
				}
}
